.popup-container{
    position: fixed;
    bottom: 10px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-message{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    color: black;
    padding: 0 15px;
    border-radius: 10px;
}

.close-icon-popup{
    cursor: pointer;
    top: 5px;
    right: 5px;
    font-size: 20px;
    color: black;
    padding: 4px;
    border-radius: 1000px;
}

.close-icon-popup:hover{
    color: red;
    background: #dbd2d2;
}